# Stata to Python


##### By Kevin Martinez-Folgar <kmartinezfolgar@gmail.com>

Hello everyone! I'm Kevin (@thinkondata)

I was a Stata user most of the time but I am on the process of migrate to Python and Pandas and many times I try to find equivalency of commands of stata in Python but I didnt find many of my doubts online so I decided to make this Notebook with some equivalencies for others who have the same issues. 

Cheers!

In [78]:
# First import the pandas tool
import pandas as pd
# I will import a tool for use Stata here in Jupyter just for see the equivalency. 
import ipystata 
# We will import Numpy also
import numpy as np

SyntaxError: invalid syntax (<ipython-input-78-c63f51881a13>, line 7)

In [11]:
## This is only a try to the stata command promnt
%%stata 
display "Hello World"

Hola Mundo

Let's open a dataset from STATA and explore it in Pandas This automaticlly export the dataset to the variable "database1" -o means "output"

In [24]:
%%stata -o database1  
sysuse auto, clear

(1978 Automobile Data)

In [26]:
# that was the equivalency of 
#database1 = pd.read_stata("auto.dta")

In [18]:
database1.head()

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
0,AMC Concord,4099,22,3.0,2.5,11,2930,186,40,121,3.58,Domestic
1,AMC Pacer,4749,17,3.0,3.0,11,3350,173,40,258,2.53,Domestic
2,AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic
3,Buick Century,4816,20,3.0,4.5,16,3250,196,40,196,2.93,Domestic
4,Buick Electra,7827,15,4.0,4.0,20,4080,222,43,350,2.41,Domestic

In [33]:
%%stata 
describe

Contains data from C:\Users\Kevin Martinez\.ipython\stata\data_output.dta
  obs:            74                          1978 Automobile Data
 vars:            12                          6 Jun 2017 13:10
 size:         3,182                          (_dta has notes)
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
make            str18   %-18s                 Make and Model
price           int     %8.0gc                Price
mpg             int     %8.0g                 Mileage (mpg)
rep78           int     %8.0g                 Repair Record 1978
headroom        float   %6.1f                 Headroom (in.)
trunk           int     %8.0g                 Trunk space (cu. ft.)
weight          int     %8.0gc                Weight (lbs.)
length          int     %8.0g                 Length (in.)
turn            int     %8.0g                 Turn Circle (ft.)
displacement    int     %8.0g                 Displacement (cu. in.)
gear_ratio      float   %6.2f                 Gear Ratio
foreign         byte    %8.0g      origin     Car type
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by: foreign

## Tabulate

In Stata I use tabulate a lot for explore my categorical variables like "Foreign"

In [27]:
%%stata
tab foreign

   Car type |      Freq.     Percent        Cum.
------------+-----------------------------------
   Domestic |         52       70.27       70.27
    Foreign |         22       29.73      100.00
------------+-----------------------------------
      Total |         74      100.00

The equivalent in Python is

In [70]:
database1['foreign'].value_counts()

Domestic    52
Foreign     22
Name: foreign, dtype: int64

In [71]:
database1.groupby("foreign").foreign.count()

foreign
Domestic    52
Foreign     22
Name: foreign, dtype: int64

Of course, this only for exploratory purposes, if I want a dataframe as return and have the respective percentage

In [74]:
tab_foreign = pd.crosstab(index=database1["foreign"], columns=["Count"])
tab_foreign

col_0     Count
foreign
Domestic     52
Foreign      22

In [80]:
ntotal = np.sum(tab_foreign["Count"])
tab_foreign['Percentage'] = tab_foreign['Count'] / ntotal * 100
tab_foreign

col_0     Count  Percentage
foreign
Domestic     52    70.27027
Foreign      22    29.72973

I know.. looks more easy in stata right? hahaha